* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}   

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: black;
}

li {
    list-style: none;
    color: white;
    cursor: pointer;
    font-size: 19px;
    background-color: black;
}

.pai{
    width: 400px;
    height: 80px;
    background-color: black;
    border-radius: 50px;
    margin-left: 36%;
    margin-top: 50px;
}

.filho{
    color: white;
    display: flex;
    justify-content: center;
    
}

.filhoh1 {
    margin-top: 20px;
}